h1 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightblue;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    border-style: solid;
    border-color: black; 
    }
    span {background-color: #4aaaa5;
    color: white;
    font-size: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;}
    ul {float: right;
         list-style: outside none none;
        margin: 0px;
        padding: 0px}
    li {display: inline;}
    #adam {float: left;
        height: 300px;
        width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    position: static;
    border-style: solid;
    border-color: black;
    border-width: 8px;
    }
    .coding {height: 200px;
        width: 200px;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20x;}
    .yardwork {height: 200px;
        width:200px;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20x;}
    .chiefs {height: 200px;
        width:200px;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20x;}
    .sleep {height: 200px;
        width:200px;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20x;}  
    
    .fixed-bottom {position:relative;
        height: 50px;
        font-size: 20px;
        color: #cccccc;
        text-align: center; 
        background-color: #666666;
        border-top: 20px;
        border-color: #4aaaa5}
    .content {
        width: 960px;
        margin: auto;
        background: white;
        padding: 10px;
        border-style: solid;
        border-color: black;
        }
    p {font-family: Arial, Helvetica, sans-serif;
    position: relative}
    figcaption {background-color: #4aaaa5; 
    display: inline-block}
    .nav-link {background-color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right}
    .navbar-brand {font-size: 50px}
    .blue {color:blue}
    .green {color: green}
    .red {color: red}
    .orange {color: orange}
    .yellow {color: goldenrod}
    .form-group {background-color:bisque }
    .navbar-brand {color: red}
    .card {float: right;
    border-width: 10px;
border-color: palegoldenrod;
    }
